@import "tailwindcss"; /* Rectangle 1 */

body {
  font-family: "Poppins", sans-serif;
}
.primary-gradient {
  background: linear-gradient(90deg, #7d30ff 0%, #4b1d99 100%);
}
.primary-gradient-text {
  background: linear-gradient(90deg, #7d30ff 0%, #4b1d99 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-radial-gradient {
  background: radial-gradient(
    109.38% 109.37% at 105.11% -10.83%,
    #0043ff 0%,
    #4b1d99 100%
  );
}

.primary-blur-div {
  background: linear-gradient(133.44deg, #17005b 34.47%, #7d30ff 90.92%);
  filter: blur(50px);
}

.secondary-blur-div {
  background: linear-gradient(133.44deg, #4f31a6 34.47%, #7d30ff 90.92%);
  filter: blur(50px);
}
.devtool-card {
  background: radial-gradient(
    218.15% 219.66% at 105.11% -10.83%,
    #7d30ff 7.13%,
    #6221cf 100%
  );
}
/* Rectangle 5 */

.devtool-item {
  background: linear-gradient(
    135.97deg,
    rgba(255, 255, 255, 0.1) 1.42%,
    rgba(255, 255, 255, 0) 98.96%
  );
}
.digital-transformation-card {
  background-image: url("./components/images/deigitalTransformation.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
